
        body {
            margin: 0px;
        }

        header {
            background-color: rgb(239, 234, 234);
            height: 80px;
        }

        header img {
            height: 60px;
            margin: 10px;
        }

        header nav {
            float: right;
            padding: 25px;
        }

        header nav a {
            padding: 3px;
            text-decoration: none;
        }

        header nav a:hover {
            background-color: rgb(210, 186, 155);
            border-radius: 5px 5px;
        }

        #sec {
            background: linear-gradient(rgba(251, 240, 240, 0.52),
                    rgba(239, 242, 243, 0.52)), url(notebook.jpg);
            background-position: center;
            background-size: cover;
            height: 300px;
        }

        #sec h1,
        p {
            color: rgb(255, 255, 255);
            text-align: center;
            position: relative;
            top: 20%;
        }


        #sec button {
            padding: 5px;
            background-color: bisque;
            border: none;
            display: block;
            margin: auto;
            position: relative;
            left: 0%;
            top: 50%;

        }

        #sec1>h1 {
            color: 6, 36, 109;
            text-align: center;
        }

        #sec1>p {
            color: black;
            text-align: center;
        }

        #sec1 button,
        #sec-inline button {
            background-color: rgb(36, 36, 109);
            color: aliceblue;
            position: relative;
            left: 45%;
        }

        #gray {
            background-image: url(laptop2.jpg);
            background-position: center;
            height: 300px;
            background-size: cover;
        }

        #gray h1 {
            position: relative;
            top: 45%;
            left: 50%;

        }

        #sec-inline>div {
            display: inline-block;
            vertical-align: top;
            width: 300px;
            height: max-content;
            text-align: center;
            margin-top: 10px;
            margin-left: 30px;
            border: solid black 2px;
            padding: 20px;

        }

        #sec-inline p {
            color: black;
        }

        .A,
        B {
            text-align: center;
            position: absolute;
        }

        #d1 {
            background-color: bisque;
            height: 60px;
            margin: 10px;
        }

        #d1 h2 {
            margin-left: 50px;
            position: relative;
            top: 30%;
            color: rgb(21, 21, 106);
        }

        #d1 button {
            float: right;
            margin-right: 40px;
            padding: 5px;
            position: relative;
            bottom: 50%;
            background-color: rgb(25, 25, 121);
            color: whitesmoke;
        }

        footer {
            background-color: rgb(46, 46, 144);
            height: 400px;
        }
        #link>div{
            display: inline-block;
            vertical-align: top;
            width: 150px;
            margin-left:  60px;
            margin-right: 40px;
            text-align: center;
        }
        #link div h1{
            color: aliceblue;
        }
        #link nav{
            color: white;
        }

